* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Manrope', sans-serif;
  font-family: 'Overpass', sans-serif;
  font-family: 'Rubik', sans-serif;
}

body{
  text-align: center;
  height: 100vh;
}

.App{
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.header{
  height: 444px;
  background-image: url(./assets/images/pattern-bg-mobile.png);
  background-repeat: no-repeat;
  padding: 20px;
}

.mainHeading{
  color: white;
  font-size: x-large;
  font-weight: 500;
}

.searchContainer{
  margin-top: 20px;
  display: flex;
}

.searchBar{
  padding: 13px;
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 85%;
}

.searchBtn{
  width: 15%;
  border: none;
  background-color: black;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mapContainer{
  height: 100%;
}

.leaflet-container{
  height: 100%;
}